<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Css Challenge</title>
	<link rel="stylesheet" href="css/main_style.css">
</head>
<body>
	<div class="container">
		<nav class="navbar-nav">
			<ul>
				<li>item_2</li>
				<li>item_21</li>
				<li>item_3</li>
				<li>item_4</li>
				<li>item_5</li>
			</ul>
		</nav>
	</div>
	<div class="container">
		<div class="col-xs-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!
		</div>
		<div class="col-xs-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!
		</div>
		<div class="col-xs-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!
		</div>
	</div>
	<script src="js/vendor-scripts.js"></script>
	<script src="js/custom-scripts.js"></script>
</body>
</html>