<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Test Css Challenge</title>
		<link rel="stylesheet" href="css/vendors-style.css">
		<link rel="stylesheet" href="css/main-style.css">
	</head>

	<body>
		<header>
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Brand</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
									<li class="divider"></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>
						</ul>
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</header>
		<div class="container">
			<div class="jumbotron page-header">
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id rem quidem quam consequatur ipsa? Id quae delectus, temporibus dolores nisi nihil sint odit nemo amet animi incidunt blanditiis, velit fugit.</h2>
			</div>
			<section class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis sunt expedita repudiandae labore modi perspiciatis adipisci illum delectus quibusdam error, tenetur unde, illo possimus neque molestias accusamus sint alias beatae!</p>
				</div>
			</section>
		</div>
		<script src="js/vendor-scripts.js"></script>
		<script src="js/custom-scripts.js"></script>
	</body>
</html>